.Info {
  position: absolute;
  background-color: var(--background);
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.Info-content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 1em 1em;
}

.Info-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.Info-header {
  display: flex;
  justify-content: flex-end;
}

.Info-header span {
  color: var(--primary);
  display: flex;
  align-items: center;
  margin-left: 0.5em;
}
