.Progress {
  position: absolute;
  background-color: var(--surface);
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.Progress-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding: 1em 1em;
}

.Progress-content h2 {
  text-align: center;
}

.Progress-bar {
  border-radius: 0.5em;
  height: 1em;
  background-color: var(--primary);
  width: 100%;
  transition: width 0.2s;
}
